.login
    .el-input__inner
        height: 45px
    .el-button--primary
        width: 100%
        height: 36px
        font-size: 15px;
        letter-spacing: 2px;
.el-form-item__content
    .el-icon
        width 1.3rem
        svg
            width: 1.3rem
            height: 1.3rem

// .el-menu
.el-menu
    background-color: rgb(48, 65, 86)!important;
    .el-menu-item
        color: rgba(256,256,256,.8);
        &:hover
            background-color: #263445
        &.is-active
            span,i
                color: #409eff
    .el-sub-menu__title
        color: rgba(256,256,256,.8);
        &:hover
            background-color: #263445
    &.el-menu--inline
        background-color: #1f2d3d
        span,i
            color: rgba(256,256,256,.8);
        .el-menu-item:hover
            background-color: #001528
        .el-menu-item.is-active
            span,i
                color: #409eff

// .el-dropdown
.el-dropdown
    .el-tooltip__trigger
        position: relative;
        top: -5px;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        i
            font-size: 20px;
            position: relative;
            top: 4px;
            right: -6px;
.el-dropdown__popper
    // top: 48.5px!important
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    height: 100%;
}

// .el-table
.el-table__header
    height: 48px
    .el-table__cell
        height: 50px;
        font-size: 16px;
        background: rgb(238, 243, 255)!important;
        color: #333333cf;
.el-table__body
    .el-table__cell
        height: 60px;
        .el-button
            font-size: 14px;
.cell
    text-align: center
.el-button.is-link:focus, .el-button.is-link:hover
    color: #79b2ec;

// el-form
.el-form
    .el-form-item
        margin-bottom: 28px;
        margin-right: 20px;
        align-items: center;
    .el-form-item__label,.el-input
        height: 40px!important;
        line-height: 40px!important;
        .el-input__wrapper
            height: 38px!important;
            line-height: 38px!important;
    
// el-dialog
.el-dialog
    .el-dialog__header
        background-color: #3a68f2;
        margin-right: 0;
        span,i.el-dialog__close
            color: #fff
// .el-popover.el-popper
.el-popover.el-popper
    padding: 0!important
// .el-upload
.el-upload
    width: 150px;
    height: 150px;
    border: 1px dotted #c9bfbf;
    background: #f2f2f24f;
    border-radius: 8px;
    overflow hidden
    svg
        width: 32px;
        height: 32px;
    img
        width: 150px;
        height: 150px;

// .el-button
.el-button
    height: 40px;
    line-height: 40px;